In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics

# titanic data

Najpierw zaloguj się do https://www.kaggle.com/ i przejdź do wyzwania https://www.kaggle.com/c/titanic, aby pobrać 
 * train.csv i test.csv. 

Zapisz je w katalogu datasets/titanic.

In [2]:
import os
TITANIC_PATH = os.path.abspath(r'C:\Users\Admin\Documents\Python\Introduction_to_artificial_intelligence-master\datasets\titanic')

In [3]:
import pandas as pd

def load_titanic_data(filename, titanic_path=TITANIC_PATH):
    csv_path = os.path.join(titanic_path, filename)
    return pd.read_csv(csv_path)

In [26]:
train_data = load_titanic_data("train.csv")
test_data = load_titanic_data("test.csv")
gender_submission=load_titanic_data('gender_submission.csv')

* Dane są już podzielone na zestaw treningowy i zestaw testów. 
* Jednak dane testowe nie zawierają etykiet: Twoim celem jest wyszkolenie najlepszego modelu, który możesz wykorzystać w danych treningowych, następnie dokonanie swoich przewidywań na danych testowych i przesłanie ich do Kaggle, aby zobaczyć ostateczny wynik.

Rzućmy okiem na kilka pierwszych rzędów zestawu treningowego:

In [5]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

The attributes have the following meaning:

* Survived: that's the target, 0 means the passenger did not survive, while 1 means he/she survived.
* Pclass: passenger class.
* Name, Sex, Age: self-explanatory
* SibSp: how many siblings & spouses of the passenger aboard the Titanic.
* Parch: how many children & parents of the passenger aboard the Titanic.
* Ticket: ticket id
* Fare: price paid (in pounds)
* Cabin: passenger's cabin number
* Embarked: where the passenger embarked the Titanic
* Let's get more info to see how much data is missing:

In [6]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Atrybuty **Age**, **Cabin** oraz **Embarked** są czasami zerowe (mniej niż 891 wartości bez wartości null), szczególnie w przypadku **Cabin** (77% ma wartość zerową). Zignorujemy teraz **Cabin** i skupimy się na reszcie. Atrybut **Age** ma około 19% wartości pustych, więc będziemy musieli zdecydować, co z nimi zrobić. Zastąpienie wartości null medianą wieku wydaje się uzasadnione.

Atrybuty **Name** i **Ticket** mogą mieć pewną wartość, ale będą one nieco trudne do przekształcenia w użyteczne liczby. Na razie będziemy je ignorować.

Rzućmy okiem na atrybuty liczbowe:

In [7]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

* Tylko 38% przeżyło: to wystarczająco blisko do 40%, więc **accuracy** będzie rozsądną miarą do oceny naszego modelu.

Sprawdźmy, czy etykiety przyjmują wartości 0 lub 1:

In [8]:
np.unique(train_data['Survived'].values)

array([0, 1], dtype=int64)

Nie zapomnij o etykietach:

In [9]:
y_train = train_data['Survived']

In [10]:
x_train = train_data.drop(['PassengerId','Name', 'Ticket', 'Survived'], axis=1)
x_test =  test_data.drop(['PassengerId','Name', 'Ticket'], axis=1)

Teraz rzućmy okiem na wszystkie atrybuty kategoryczne:

In [11]:
train_data["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [12]:
train_data["Cabin"].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
D              3
E101           3
              ..
B30            1
C47            1
A32            1
A34            1
B42            1
Name: Cabin, Length: 147, dtype: int64

In [13]:
train_data["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

Atrybut **Embarked** mówi nam, gdzie pasażer zaokrętował: C = Cherbourg, Q = Queenstown, S = Southampton.

Teraz zbudujmy nasze **pipeline** preprocessingu. 

Wykorzystamy DataframeSelector aby wybrać określone atrybuty z DataFrame:

In [14]:
from sklearn.base import BaseEstimator, TransformerMixin

class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names]

Zbudujmy **pipeline** dla atrybutów numerycznych:

In [15]:
from sklearn.pipeline import Pipeline
# from sklearn.preprocessing import Imputer
from sklearn.impute import SimpleImputer

num_pipeline = Pipeline([
        ("select_numeric", DataFrameSelector(["Pclass", "Age", "SibSp", "Parch", "Fare"])),
        ("imputer", SimpleImputer(strategy="median")),
    ])

In [16]:
num_pipeline.fit_transform(x_train)

array([[ 3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       ...,
       [ 3.    , 28.    ,  1.    ,  2.    , 23.45  ],
       [ 1.    , 26.    ,  0.    ,  0.    , 30.    ],
       [ 3.    , 32.    ,  0.    ,  0.    ,  7.75  ]])

Będziemy także potrzebować imputera do kategorycznych kolumn  napisowych (zwykły Imputer nie działa na tych kolumnach):

In [17]:
class MostFrequentImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.most_frequent_ = pd.Series([X[c].value_counts().index[0] for c in X],
                                        index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.most_frequent_)

Teraz możemy zbudować **pipeline** dla atrybutów kategorycznych:

In [18]:
from sklearn.preprocessing import OneHotEncoder

cat_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["Embarked", "Sex"])),
        ("imputer", MostFrequentImputer()),
        ("cat_encoder", OneHotEncoder(sparse=False, handle_unknown = 'ignore')),
    ])

In [19]:
cat_pipeline.fit_transform(x_train)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       ...,
       [0., 0., 1., 1., 0.],
       [1., 0., 0., 0., 1.],
       [0., 1., 0., 0., 1.]])

Na koniec połączmy powyższe podejścia:

In [20]:
from sklearn.pipeline import FeatureUnion
preprocess_pipeline = FeatureUnion(transformer_list=[
        ("num_pipeline", num_pipeline),
        ("cat_pipeline", cat_pipeline),
    ])

Teraz mamy fajny **pipeline** przetwarzania wstępnego, który pobiera dane wejściowe i zwraca dane wyjściowe złorzone z liczb, które możemy podać do dowolnego modelu uczenia maszynowego.

In [21]:
from sklearn.model_selection import train_test_split
processedX = preprocess_pipeline.fit_transform(x_train)
X_train, X_test, y_train, y_test = train_test_split(processedX, y_train, test_size=0.33, random_state=42)
X_trueTest  = preprocess_pipeline.fit_transform(x_test)
X_train

array([[ 1., 54.,  0., ...,  1.,  0.,  1.],
       [ 3., 28.,  0., ...,  0.,  0.,  1.],
       [ 2., 25.,  1., ...,  0.,  0.,  1.],
       ...,
       [ 3., 41.,  2., ...,  1.,  0.,  1.],
       [ 1., 14.,  1., ...,  1.,  1.,  0.],
       [ 1., 21.,  0., ...,  1.,  0.,  1.]])

# Zad

Robimy StratifiedKFold i znajdujemy optymalne parametry dla

* SVM z jądrem rbf
* SVM z jądrem poly
* SVM liniowego
* Regresji logistycznej

In [22]:
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold

seed=123
kfold = StratifiedKFold(n_splits=5, random_state=seed)


pipe1 = Pipeline([('preprocessing', StandardScaler()), ('classifier', SVC(kernel="rbf"))])
pipe2 = Pipeline([('preprocessing', StandardScaler()), ('classifier', SVC(kernel="linear"))])
pipe3 = Pipeline([('preprocessing', StandardScaler()), ('classifier', SVC(kernel="poly"))])
pipe4 = Pipeline([('preprocessing', StandardScaler()), ('classifier', LogisticRegression(max_iter=5000, solver='lbfgs'))])


param_rbf = {
            'classifier__gamma': [0.001, 0.01, 0.1, 1, 10, 100],
            'classifier__C': [0.001, 0.01, 0.1, 1, 10, 100]
}
param_lin = {
            'classifier__C': [0.001, 0.01, 0.1, 1, 10, 100],
}
param_poly = {
            'classifier__degree':[1,3],
            'classifier__gamma': [0.1],
              'classifier__coef0': [0],
              'classifier__C':[0.1,1]}
param_reg = {'classifier__C' : [0.001,0.01,0.1, 1, 10, 100]}

grid_1 = GridSearchCV(pipe1, param_rbf, cv=kfold, return_train_score=True)
grid_2 = GridSearchCV(pipe2, param_lin, cv=kfold, return_train_score=True)
grid_3 = GridSearchCV(pipe3, param_poly, cv=kfold, return_train_score=True)
grid_4 = GridSearchCV(pipe4, param_reg, cv=kfold, return_train_score=True)
 
grid_1.fit(X_train, y_train)
print(grid_1.best_params_)

grid_2.fit(X_train, y_train)
print(grid_2.best_params_)

grid_3.fit(X_train, y_train)
print(grid_3.best_params_)

grid_4.fit(X_train, y_train)
print(grid_4.best_params_)

{'classifier__C': 10, 'classifier__gamma': 0.1}
{'classifier__C': 1}
{'classifier__C': 1, 'classifier__coef0': 0, 'classifier__degree': 3, 'classifier__gamma': 0.1}
{'classifier__C': 0.1}

In [23]:
from sklearn import  metrics


models = []
models.append(('SVM rbf', grid_1.best_estimator_))
models.append(('SVM linear', grid_2.best_estimator_))
models.append(('SVM poly', grid_3.best_estimator_))
models.append(('Regression', grid_4.best_estimator_))




precision_score = []
recall_score = []
f1_score = []
accuracy_score = []
for name, model in models:
    print(name)
    print("precision_score: {}".format(metrics.precision_score(y_test, model.predict(X_test)) ))
    print("recall_score: {}".format( metrics.recall_score(y_test, model.predict(X_test)) ))
    print("f1_score: {}".format( metrics.f1_score(y_test, model.predict(X_test)) ))
    print("accuracy_score: {}".format( metrics.accuracy_score(y_test, model.predict(X_test)) ))
    precision_score.append(metrics.precision_score(y_test, model.predict(X_test)))
    recall_score.append(metrics.recall_score(y_test, model.predict(X_test)))
    f1_score.append( metrics.f1_score(y_test, model.predict(X_test)))
    accuracy_score.append(metrics.accuracy_score(y_test, model.predict(X_test)))

SVM rbf
precision_score: 0.8315789473684211
recall_score: 0.6583333333333333
f1_score: 0.7348837209302326
accuracy_score: 0.8067796610169492
SVM linear
precision_score: 0.7777777777777778
recall_score: 0.7
f1_score: 0.7368421052631577
accuracy_score: 0.7966101694915254
SVM poly
precision_score: 0.7722772277227723
recall_score: 0.65
f1_score: 0.7058823529411764
accuracy_score: 0.7796610169491526
Regression
precision_score: 0.7981651376146789
recall_score: 0.725
f1_score: 0.759825327510917
accuracy_score: 0.8135593220338984

In [25]:
import pandas as pd
d = {'precision_score': precision_score, 
     'recall_score': recall_score, 
     'f1_score': f1_score,
     'accuracy_score' : accuracy_score
    }
df = pd.DataFrame(data=d)
df.insert(loc=0, column='Method', value=['SVM rbf', 'SVM linerar', 'SVM poly', 'Regression'])
df

        Method  precision_score  recall_score  f1_score  accuracy_score
0      SVM rbf         0.831579      0.658333  0.734884        0.806780
1  SVM linerar         0.777778      0.700000  0.736842        0.796610
2     SVM poly         0.772277      0.650000  0.705882        0.779661
3   Regression         0.798165      0.725000  0.759825        0.813559

In [30]:
predictions = grid_4.best_estimator_.predict(X_trueTest)
result_data = {'PassengerId':gender_submission['PassengerId'],
        'Survived':predictions}
result=pd.DataFrame(result_data)
result.to_csv(r'C:\Users\Admin\Documents\Python\Introduction_to_artificial_intelligence-master\datasets\titanic\result.csv', index=False)